@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

/* Board */
.board {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 4px 16px 3px #bcbcbc40;
}

.tile {
    background-attachment: rgb(255, 255, 255);
    flex-basis: 25%;
    width: 100px;
    height: auto;
    touch-action: none;
    border-style: solid;
    border-color: #7c7c7c11;
    border-width: 0.1px;
    cursor: cell;
}

/* Tool menu */

.menu {
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

button {
    width: 175px;
    height: 50px;
    border-color: #FF217E;
    border-style: solid;
    background-color: #7c7c7c00;
    color: #FF217E;
    border-radius: 5px;
    cursor: pointer;

}

button img {
    width: 25px;
    height: auto;
}

.input-color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.input-color::-webkit-color-swatch{
    border-radius: 5px;
    border: none;
}

.input-color::-moz-color-swatch{
    border-radius: 5px;
    border: none;
}



/* Button active style */
.active {
    color: aliceblue;
    background-color: #FF217E;
    color: white;
    border-style: none;
    stroke: white;
}

.slider {
    background: aliceblue;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.tools button{

    width: 50px;
}

.tools input{
    width: 50px;
}

.eraser {
    width: 50px;
}

/* Footer */
a{
    text-decoration: none;
    color: #FF217E;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .main{
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .main {
        gap: 50px;
    }

    .board {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 30px;
    }

    .main {
        margin-top: 100px;
        margin-bottom: 100px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .main-game{
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .board {
        width: 300px;
        height: 300px;
    }
    a{
       margin-bottom: 10px;
    }

}
