*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
}
.tile{
    background-attachment: rgb(255,255,255);
    flex-basis: 25%;
    width: 100px;
    height: auto;
    touch-action: manipulation;
}